---
-# title: Home
layout: layouts/application
---
.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "http://aseroadshow.house4hack.co.za/images/h4h-logo.png\r\n"}/
    .hero-copy
      %h1 What will you build next?
      %p A few reasons why this product is worth using, who it's for and why they need it.
    -# %button Learn More
