.footer-container
  .footer-about
    %h3 About
    %p Deserunt ad deserunt velit officia velit commodo occaecat consectetur. Enim exercitation fugiat laborum occaecat amet. Aliqua quis duis ullamco et voluptate enim ex deserunt aliquip elit officia. Nisi labore cupidatat exercitation officia veniam ipsum. Do cupidatat sunt commodo exercitation magna anim veniam deserunt minim culpa in consequat quis.
  .footer-links
    %ul
      %li
        %h3 Resources
      %li
        %a{:href => "javascript:void(0)"} Where can I?
      %li
        %a{:href => "javascript:void(0)"} Contact
      %li
        %a{:href => "javascript:void(0)"} Products
    %ul
      %li
        %h3 Usefull Links
      %li
        %a{:href => "javascript:void(0)"} Facebook
      %li
        %a{:href => "javascript:void(0)"} Twitter
      %li
        %a{:href => "javascript:void(0)"} YouTube
  %hr/
  %p
    Copyright &copy; 2015 #{link_to 'House4Hack', '/'}
