%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.logo{:href => "/"}
      = image_tag 'h4h-logo.png', :alt => 'Logo Image'
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a{:href => "/about"} About
        %li.nav-link
          %a{:href => "/events"} Events
        %li.nav-link
          %a{:href => "/training"} Training
        %li.nav-link
          %a{:href => "/blog"} Blog
        %li.nav-link
          %a{:href => "/contact-us"} Contact
