%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %img{:alt => "Logo Image", :src => "assets/images/h4h-logo.png"}/
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a{:href => "javascript:void(0)"} About
        %li.nav-link
          %a{:href => "javascript:void(0)"} Events
        %li.nav-link
          %a{:href => "javascript:void(0)"} Training
        %li.nav-link
          %a{:href => "javascript:void(0)"} Blog
        %li.nav-link
          %a{:href => "javascript:void(0)"} Contact
    -# .navigation-tools
    -#   .search-bar
    -#     %form{:role => "search"}
    -#       %input{:placeholder => "Enter Search", :type => "search"}/
    -#       %button{:type => "submit"}
    -#         %img{:alt => "Search Icon", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"}/
    -#   %a.sign-up{:href => "javascript:void(0)"} Sign Up
